.bg {
    height: 50vh;
    width: 60vw;
    background-color: rgb(240, 226, 255);
    position: absolute;
    left: 20vw;
    top: 16vh;
}

#hp {
    font-size: 26px;
    color: rgb(65, 40, 134);
    position: absolute;
    vertical-align: middle;
    padding-left: 450px;
    padding-top: 80px;
}