<div class="inf">
    <table id="sc">
        <tr>

            <a href="https://vk.com/id:1234">
                <img src="../assets/img/вк1.jpg"
                    height="40px">
                    
            </a>
            <span id="VK"> - мы в ВКонтакте</span>
        </tr>
        <br>
        <tr>
            <a href="https://www.instagram.com/1234/">
                <img src="../assets/img/инст1.jpg"
                    height="40px">
            </a>
            <span id="Inst"> - мы в Инстаграме</span>
        </tr>
        <br>
        <tr>
            <a href="https://www.facebook.com/1234.528319">
                <img src="../assets/img/фб1.jpg"
                    height="40px">
            </a>
            <span id="Fb"> - мы в Фейсбуке</span>
        </tr>
    </table>

    <img id="logo" src="../assets/img/logo.jpg">

    <table class="phone">
        <tr>
            8-800-***-**-**
        </tr>
        <tr>
            8-456-***-**-**
        </tr>
        <tr id="phone1">
            Ежедневно, 10:00-21:00
        </tr>
    </table>
</div>