<div class="tol">
    <button class="a">Каталог товаров</button>
    <div class="mydropdown">
        <a routerLink="/show" routerLinkActive="active" class="shadow">Телескопы</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Бинокли</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Микроскопы</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Монокуляры</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Зрительные трубы</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Штативы</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Лупы</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Учебные пособия, книги</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Другие товары</a>
    </div>
</div>

<div id="bg"></div>

<div class="cont">
    <strong>Контакты и реквизиты</strong><br>
    <br>
    <strong>С любых телефонов России, звонок бесплатный:</strong><br>
    <br>
    8-800-***-**-**<br>
    E-Mail: zakaz@zodiak.ru<br>
    Ежедневно: с 9:00 до 22:00<br>
    <br>
    <strong>В Москве:</strong><br>
    <br>
    8-456-***-**-**<br>
    8-925-***-**-**<br>
    --Адрес--<br>
    Ежедневно: с 9:00 до 22:00<br>
</div>