.bg {
    height: 50vh;
    width: 60vw;
    background-color: rgb(240, 226, 255);
    position: absolute;
    left: 20vw;
    top: 16vh;
}

#gl {
    font-size: 19px;
    padding-left: 30px;
    color: rgb(65, 40, 134);
}

.o {
    height: 44.8vh;
    width: 60vw;
    position: absolute;
    padding-bottom: 36px;
    left: 0vw;
}