<div class="bg">
    <div id="gl">
        <h2>Контакты и реквизиты</h2>
        <strong>С любых телефонов России, звонок бесплатный:</strong><br>
        <br>
        8-800-***-**-**<br>
        E-Mail: zakaz@zodiak.ru<br>
        Ежедневно: с 9:00 до 22:00<br>
        <br>
        <strong>В Москве:</strong><br>
        <br>
        8-456-***-**-**<br>
        8-925-***-**-**<br>
        Ежедневно: с 9:00 до 22:00<br>
        <br>
    </div>
    
    <div class="o">
        <app-social class="inf"></app-social>
    </div>
</div>