<app-catalog class="tol"></app-catalog>

<div id="bg"></div>

<!--div class="cont">
    <strong>Контакты и реквизиты</strong><br>
    <br>
    <strong>С любых телефонов России, звонок бесплатный:</strong><br>
    <br>
    8-800-***-**-**<br>
    E-Mail: zakaz@zodiak.ru<br>
    Ежедневно: с 9:00 до 22:00<br>
    <br>
    <strong>В Москве:</strong><br>
    <br>
    8-456-***-**-**<br>
    8-925-***-**-**<br>
    --Адрес--<br>
    Ежедневно: с 9:00 до 22:00<br>
</div-->
<div class="bg">
    <div class="call">
        <input type="checkbox" id="hd-1" class="hide" />
        <label for="hd-1">
            <h2>Контакты и реквизиты</h2>
        </label>
        <div>
            <strong>С любых телефонов России, звонок бесплатный:</strong><br>
            <br>
            8-800-***-**-**<br>
            E-Mail: zakaz@zodiak.ru<br>
            Ежедневно: с 9:00 до 22:00<br>
            <br>
            <strong>В Москве:</strong><br>
            <br>
            8-456-***-**-**<br>
            8-925-***-**-**<br>
            --Адрес--<br>
            Ежедневно: с 9:00 до 22:00<br>
        </div>
    </div>

    <div class="call">
        <input type="checkbox" id="hd-2" class="hide" />
        <label for="hd-2">
            <h2>Контакты и реквизиты</h2>
        </label>
        <div>
            <strong>С любых телефонов России, звонок бесплатный:</strong><br>
            <br>
            8-800-***-**-**<br>
            E-Mail: zakaz@zodiak.ru<br>
            Ежедневно: с 9:00 до 22:00<br>
            <br>
            <strong>В Москве:</strong><br>
            <br>
            8-456-***-**-**<br>
            8-925-***-**-**<br>
            --Адрес--<br>
            Ежедневно: с 9:00 до 22:00<br>
        </div>
    </div>
    <app-social class="inf"></app-social>
</div>