<div class="tol">
    <button class="a">Каталог товаров</button>
    <div class="mydropdown">
        <a routerLink="/model" routerLinkActive="active" class="shadow">Телескопы</a>
        <a routerLink="/model" routerLinkActive="active" class="shadow">Бинокли</a>
        <a routerLink="/model" routerLinkActive="active" class="shadow">Микроскопы</a>
        <a routerLink="/model" routerLinkActive="active" class="shadow">Монокуляры</a>
        <a routerLink="/model" routerLinkActive="active" class="shadow">Зрительные трубы</a>
        <a routerLink="/model" routerLinkActive="active" class="shadow">Штативы</a>
        <a routerLink="/model" routerLinkActive="active" class="shadow">Лупы</a>
        <a routerLink="/model" routerLinkActive="active" class="shadow">Учебные пособия, книги</a>
        <a routerLink="/model" routerLinkActive="active" class="shadow">Другие товары</a>
    </div>
</div>

<!--div *ngFor="let obj of objs" routerLinkActive="active"></div-->