<app-catalog class="tol"></app-catalog>

<div class="bg">
    <div *ngFor="let model of models">
        <div class="model">
            <div class="col1">
                <div class="photo">
                    <img [src]="model.link"
                        height="200px"><br>
                </div>
            </div>
            <div class="col2">
                <a routerLink="/basket" routerLinkActive="active">{{model.name}}</a>
                <div>
                    {{model.desc}}
                    <br>.<br>.<br>.
                </div>
                <br>
                <div>
                    <strong>{{model.price}} РУБ</strong>
                </div>
                <br>
                <img routerLink="/basket" routerLinkActive="active"
                    src="https://sun9-36.userapi.com/JchIazUDweb30woMG_k_zaUTpbvqt-0w3LPSow/bImJGAbswq0.jpg"
                    height="40px" (click)="goToBasket()">
                <div *ngIf="model.height != -1">
                    Высота - {{model.height}} см
                </div>
            </div>
        </div>
    </div>
</div>