<div class="bg">
    <div *ngFor="let model of models">
        <div class="model">
            <div class="col1">
                <div class="photo">
                    <img [src]="model.link" height="200px"><br>
                </div>
            </div>
            <div class="col2">
                <a routerLink="/basket" id="name" routerLinkActive="active">{{model.name}}</a>
                <div id="desc">
                    {{model.desc}}
                </div>
                <br>
                <div id="price">
                    <strong>{{model.price}} РУБ</strong>
                </div>
                <br>
                <img routerLink="/basket" routerLinkActive="active" src="../assets/img/basket.jpg"
                    title="добавить в корзину" height="40px" (click)="addToBaskets()">
                <img src="../assets/img/starr.jpg" title="добавить в избранные" height="40px"
                    (click)="addToStars(model)">
            </div>
        </div>
    </div>
</div>

<app-social class="inf"></app-social>