#bg {
    height: 50vh;
    width: 60vw;
    background-color: rgb(240, 226, 255);
    position: absolute;
    left: 20vw;
    top: 16vh;
}

.hp {
    font-size: 19px;
    color: rgb(65, 40, 134);
    position: absolute;
    left: 44vw;
    top: 18vh;
}

.inf {
    height: 40px;
    width: 100%;
    background-color: rgb(65, 40, 134);
    position: fixed;
    bottom: 0;
    left: 0;
}