<div class="tol">
    <button class="a">Каталог товаров</button>
    <div class="mydropdown">
        <a class="shadow" href="Телескопы.html">Телескопы</a>
        <a class="shadow" href="Бинокли.html">Бинокли</a>
        <a class="shadow" href="Микроскопы.html">Микроскопы</a>
        <a class="shadow" href="Монокуляры.html">Монокуляры</a>
        <a class="shadow" href="Зрительные трубы.html">Зрительные трубы</a>
        <a class="shadow" href="Штативы.html">Штативы</a>
        <a class="shadow" href="Лупы.html">Лупы</a>
        <a class="shadow" href="Учебные пособия, книги.html">Учебные пособия, книги</a>
        <a class="shadow" href="Другие товары.html">Другие товары</a>
    </div>
</div>

<div id="bg"></div>

<div class="hd">Ни одного товара не найдено</div>