.bg {
    max-height: 10000%;
    min-height: 759.4px;
    width: 60vw;
    background-color: rgb(240, 226, 255);
    position: absolute;
    padding-bottom: 50px;
    left: 20vw;
    top: 16vh;
}

#hd {
    font-size: 26px;
    color: rgb(65, 40, 134);
    position: absolute;
    vertical-align: middle;
    padding-left: 390px;
    padding-top: 80px;
}

.model {
    display: grid;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 40px;
    margin-left: 10px;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
}

.jpgg {
    opacity: 0.5;
}

.jpgg:hover {
    opacity: 0.76;
}

#name {
    font-size: 28px;
    color: rgb(65, 40, 134);
    font-weight: bold;
    padding-left: 15px;
    text-decoration: none;
}

#name:hover {
    text-decoration: underline;
}

#desc {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 55px;
    color: rgb(81, 63, 129);
}

.price {
    font-size: 28px;
    padding-left: 65px;
    padding-top: 70px;
    color: rgb(81, 63, 129);
}

#pr {
    padding-left: 30px;
}

#pr:hover {
    opacity: 0.76;
}

.inf {
    width: 99vw;
}