<app-catalog class="tol"></app-catalog>

<div id="bg"></div>

<div class="pay">
    Оплатить заказ в магазине Зодиак.ру можно любым подходящим для Вас способом. При этом цена заказ не изменится <br>
    при любой форме оплаты. Для вашего удобства мы можем принять оплату следующими вариантами:<br>
    <br>
    <b>Покупка в розничном магазине Зодиак.ру:<br></b>
    <br>
    1. Оплата наличными<br>
    2. Оплата кредитной картой - МИР, Visa, MasterCard, Maestro<br>
    3. Оплата по банковскому счету<br>
    <br>
    <b>Покупка с доставкой по Москве и Московской области:<br></b>
    <br>
    1. Оплата наличными курьеру<br>
    2. Оплата кредитной картой - МИР, Visa, MasterCard, Maestro (предварительная оплата на сайте, до приезда
    курьера)<br>
    3. Оплата по банковскому счету (предварительная оплата, до приезда курьера)<br>
    <br>
    <b>Покупка с доставкой в любой город России:<br></b>
    <br>
    1. Оплата кредитной картой - МИР, Visa, MasterCard, Maestro (предварительная оплата на сайте, до получения
    заказа)<br>
    2. Оплата по банковскому счету (предварительная оплата, до получения заказа)<br>
</div>

<div class="inf">
    <table>
        <tr>
            <td>
                <a href="https://vk.com/id:1234"><img
                        src="https://cdn.icon-icons.com/icons2/1826/PNG/512/4202054chatlogosocialsocialmediavk-115634_115667.png"
                        height="35px"></a>
            </td>
            <td>
                <a href="https://www.instagram.com/1234/"><img
                        src="https://cdn.icon-icons.com/icons2/1826/PNG/512/4202090instagramlogosocialsocialmedia-115598_115703.png"
                        height="35px"></a>
            </td>
            <td>
                <a href="https://www.facebook.com/1234.528319"><img
                        src="https://sun9-8.userapi.com/FalcGcOYsc8Q-xArL0BboUanzMbH3kfn3v57MA/rjS_1bJNdx0.jpg"
                        height="35px"></a>
            </td>
        </tr>
    </table>
</div>