<app-catalog class="tol"></app-catalog>

<div id="bg">
    <div class="pay">
        Оплатить заказ в магазине Зодиак.ру можно любым подходящим для Вас способом. При этом цена заказ не изменится
        <br>
        при любой форме оплаты. Для вашего удобства мы можем принять оплату следующими вариантами:<br>
        <br>
        <b>Покупка в розничном магазине Зодиак.ру:<br></b>
        <br>
        1. Оплата наличными<br>
        2. Оплата кредитной картой - МИР, Visa, MasterCard, Maestro<br>
        3. Оплата по банковскому счету<br>
        <br>
        <b>Покупка с доставкой по Москве и Московской области:<br></b>
        <br>
        1. Оплата наличными курьеру<br>
        2. Оплата кредитной картой - МИР, Visa, MasterCard, Maestro (предварительная оплата на сайте, до приезда
        курьера)<br>
        3. Оплата по банковскому счету (предварительная оплата, до приезда курьера)<br>
        <br>
        <b>Покупка с доставкой в любой город России:<br></b>
        <br>
        1. Оплата кредитной картой - МИР, Visa, MasterCard, Maestro (предварительная оплата на сайте, до получения
        заказа)<br>
        2. Оплата по банковскому счету (предварительная оплата, до получения заказа)<br>
        <app-social class="inf"></app-social>
    </div>
</div>