<div class="tol">
    <button class="a">Каталог товаров</button>
    <div class="mydropdown">
        <a routerLink="/show/1" routerLinkActive="active" class="shadow">Телескопы</a>
        <a routerLink="/show/2" routerLinkActive="active" class="shadow">Микроскопы</a>
        <a routerLink="/show/3" routerLinkActive="active" class="shadow">Бинокли</a>
        <a routerLink="/show/4" routerLinkActive="active" class="shadow">Зрительные трубы</a>
        <a routerLink="/show/5" routerLinkActive="active" class="shadow">Штативы</a>
        <a routerLink="/show/6" routerLinkActive="active" class="shadow">Лупы</a>
        <a routerLink="/show/7" routerLinkActive="active" class="shadow">Другие товары</a>
    </div>
</div>