#bg {
    height: 50vh;
    width: 60vw;
    background-color: rgb(240, 226, 255);
    position: fixed;
    left: 20vw;
    top: 16vh;
}

.full-page {
    font-size: 20px;
    color: rgb(65, 40, 134);
    position: fixed;
    left: 21vw;
    top: 18vh;
    line-height: 1.5;
}

.reg {
    font-size: 15px;
    padding: 5px;
    color: rgb(240, 226, 255);
    background-color: rgb(65, 40, 134);
}