<div id="bg">
    <div *ngFor="let model of models">
        <div class="model">
            <div class="col1">
                <div class="photo">
                    <img [src]="model.link" height="240px"><br>
                </div>
            </div>
            <div class="col2">
                <img src="../assets/img/избр12.jpg" class="jpgg" title="добавить в избранные"
                    (click)="addToStars(model)" height="40px">
                <a routerLink="/basket" id="name" routerLinkActive="active">{{model.name}}</a>
                <div id="desc">
                    {{model.desc}}
                </div>
                <br>
                <div class="price">
                    <strong>{{model.price}} РУБ</strong>
                    <img src="../assets/img/корзина21.jpg" id="pr" title="добавить в корзину"
                        (click)="addToBaskets(model)" height="40px">
                </div>


            </div>
        </div>
    </div>
    <app-social class="inf"></app-social>
</div>