<div id="bg">
    <div *ngFor="let model of models">
        <div class="model">
            <div class="col1">
                <div class="photo">
                    <img [src]="model.link" height="245px"><br>
                </div>
            </div>
            <img src="../assets/img/избр12.jpg" class="jpgg" title="добавить в избранные" (click)="addToStars(model)"
                height="40px">
            <div class="col2">
                <div id="name">{{model.name}}</div>
                <div id="desc">
                    {{model.desc}}
                </div>
                <br>
                <div class="price">
                    <strong>{{model.price}} РУБ</strong>
                    <img src="../assets/img/корзина21.jpg" id="pr" title="добавить в корзину" height="40px"
                        (click)="addToBaskets(model)" >
                </div>
            </div>
        </div>
    </div>
    <app-social class="inf"></app-social>
</div>