<div class="tol">
    <button class="a">Каталог товаров</button>
    <div class="mydropdown">
        <a routerLink="/show" routerLinkActive="active" class="shadow">Телескопы</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Бинокли</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Микроскопы</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Монокуляры</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Зрительные трубы</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Штативы</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Лупы</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Учебные пособия, книги</a>
        <a routerLink="/show" routerLinkActive="active" class="shadow">Другие товары</a>
    </div>
</div>

<div id="bg1"></div>

<div >
    <div class="number1">
        <div class="photo">
            <img src="https://sun9-5.userapi.com/fwMi8qBO8bj6CXBgrLAhLYl9NULgEcDJIMQOIg/jFkFYgqeGnE.jpg"
                height="200px"><br>
        </div>
        <a routerLink="/basket" routerLinkActive="active" class="nm">Название товара</a>
        <div class="nm21">Характеристика товара<br>.<br>.<br>.</div><br>
        <div class="py11"><strong>12xxx РУБ</strong></div><br>
        <img routerLink="/basket" routerLinkActive="active" class="py" src="https://sun9-36.userapi.com/JchIazUDweb30woMG_k_zaUTpbvqt-0w3LPSow/bImJGAbswq0.jpg" (click)="goToBasket()">
    </div>

    <div class="number2"> 
        <div class="photo1">
            <img src="https://sun9-5.userapi.com/fwMi8qBO8bj6CXBgrLAhLYl9NULgEcDJIMQOIg/jFkFYgqeGnE.jpg"
                height="200px"><br>
        </div>
        <a routerLink="/basket" routerLinkActive="active" class="nm1">Название товара</a>
        <div class="nm22">Характеристика товара<br>.<br>.<br>.</div><br>
        <div class="py12"><strong>12xxx РУБ</strong></div><br>
        <img routerLink="/basket" routerLinkActive="active" class="py1" src="https://sun9-36.userapi.com/JchIazUDweb30woMG_k_zaUTpbvqt-0w3LPSow/bImJGAbswq0.jpg" (click)="goToBasket()">
    </div>

    <div class="number3">
        <div class="photo2">
            <img src="https://sun9-5.userapi.com/fwMi8qBO8bj6CXBgrLAhLYl9NULgEcDJIMQOIg/jFkFYgqeGnE.jpg"
                height="200px"><br>
        </div>
        <a routerLink="/basket" routerLinkActive="active" class="nm2">Название товара</a>
        <div class="nm23">Характеристика товара<br>.<br>.<br>.</div><br>
        <div class="py13"><strong>12xxx РУБ</strong></div><br>
        <img routerLink="/basket" routerLinkActive="active" class="py2" src="https://sun9-36.userapi.com/JchIazUDweb30woMG_k_zaUTpbvqt-0w3LPSow/bImJGAbswq0.jpg" (click)="goToBasket()">
    </div>

    <div class="number4">
        <div class="photo3">
            <img src="https://sun9-5.userapi.com/fwMi8qBO8bj6CXBgrLAhLYl9NULgEcDJIMQOIg/jFkFYgqeGnE.jpg"
                height="200px"><br>
        </div>
        <a routerLink="/basket" routerLinkActive="active" class="nm3">Название товара</a>
        <div class="nm24">Характеристика товара<br>.<br>.<br>.</div><br>
        <div class="py14"><strong>12xxx РУБ</strong></div><br>
        <img routerLink="/basket" routerLinkActive="active" class="py3" src="https://sun9-36.userapi.com/JchIazUDweb30woMG_k_zaUTpbvqt-0w3LPSow/bImJGAbswq0.jpg" (click)="goToBasket()">
    </div>
</div>